.footer {
  background-color: #343a40;
  color: #fff;
  padding: $spacing-unit;
  text-align: center;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
    @include hover-transition;

    &:hover {
      color: lighten($primary-color, 20%);
    }
  }

  .footer-links {
    margin-bottom: $spacing-unit;

    a {
      margin: 0 $spacing-unit / 2;
    }
  }
}
